*
{
    margin: 0;
    padding: 0;
}
body
{
    padding: 0px;
    margin: 5%;
    font-family: tahoma;
}
header, main, footer
{
    border: thin solid black;
    padding: 10px;
}
header
{
    height: 85px;
}
.whiteBox
{
    background-color: white;
}
.skyblueBox
{
    background-color: navy;
}
.grayBoxnLined
{
    background-color: gray;
    border: thin solid black;
    width: 50vw;
    margin-left: 20px;
}
p
{
    font-size: 20px;
}